@use '_nullstyle.scss';

$sgap: 0.5em;
$mgap: 1.5em;
$borr: 5px;

.page_container {
	width: max(300px, 60%);
	padding: max(1em, 1vw);
	margin: 0 auto;
}

.cursor_active {
	cursor: pointer;
}

html.dark-mode {
	--primaryClr: #121212;
	--primaryClrLite: #141414;
	--primaryClrUltraLite: #333636;
	--bcgroundClr: #131314;
	--secondaryClr: #fff;
	--radialGradient: radial-gradient(
		circle,
		#121212,
		#131414,
		#333636,
		#131414,
		#121212
	);
}

html.light-mode {
	--primaryClr: #dfedec;
	--primaryClrLite: #dae2e2;
	--primaryClrUltraLite: #3333;
	--bcgroundClr: #a2b5ba;
	--secondaryClr: #121212;
	--radialGradient: radial-gradient(
		circle,
		#a2b5ba,
		#a2b5ba,
		#6c7f8b,
		#a2b5ba,
		#1e1c30
	);
}

html {
	color-scheme: light dark;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	height: 160vh;
	background-color: var(--bcgroundClr);
	background-image: var(--radialGradient);
	background-repeat: no-repeat;
}

$primaryColor: var(--primaryClr);

header {
	display: flex;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background-color: rgb(14, 13, 13, 0.3);
	justify-content: flex-end;
	padding: $sgap 2em;
	gap: 1.5em;

	/* The switch - the box around the slider */
	.switch {
		font-size: 17px;
		position: relative;
		display: inline-block;
		width: 3.5em;
		height: 2em;
	}

	/* Hide default HTML checkbox */
	.switch input {
		opacity: 0;
		width: 0;
		height: 0;
	}

	/* The slider */
	.slider {
		position: absolute;
		cursor: pointer;
		inset: 0;
		background-color: var(--secondaryClr);
		transition: 0.5s;
		border-radius: 30px;
	}

	.slider:before {
		position: absolute;
		content: '';
		height: 1.4em;
		width: 1.4em;
		border-radius: 50%;
		left: 10%;
		bottom: 15%;
		box-shadow: inset 8px -4px 0px 0px #fff000;
		background-color: var(--secondaryClr);

		transition: 0.5s;
	}

	input:checked + .slider {
		background-color: var(--secondaryClr);
	}

	input:checked + .slider:before {
		transform: translateX(100%);
		box-shadow: inset 15px -4px 0px 15px #000000;
	}

	.profile_icon {
		font-size: 2em;
		color: var(--secondaryClr);
	}
}

main {
	display: flex;
	flex-direction: column;
	gap: 2em;
	padding-bottom: 3em;
}

.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 60vh;
	justify-content: center;
	color: var(--secondaryClr);
}

.hero_title {
	font-size: min(20vw, 5em);
}

.hero_subtitle {
	font-size: min(10vw, 3em);
}

.searchBar_block {
	display: flex;
	flex-direction: column;
	gap: $sgap;
	color: var(--secondaryClr);
}

.searchBar {
	background-color: var(--primaryClr);
	outline: none;
	border: none;
	width: 100%;
	margin: 0 auto;
	border-radius: $borr;
	padding: 0.5em 2em;
	font-size: 1.3em;
}

.searchbar_wrapper {
	display: flex;
	justify-content: center;
	position: relative;
}

.searchbar_wrapper:before {
	content: '\f002';
	color: inherit;
	font-family: 'Font Awesome 6 Free';
	position: absolute;
	top: 50%;
	left: 1em;
	transform: translateY(-50%);
	display: inline-block;
	font-weight: 900;
}

.filterBtn {
	outline: none;
	border: none;
	background-color: var(--primaryClr);
	align-self: flex-end;
	border-radius: $borr;
	padding: $sgap;
}

.progressBar {
	width: 100%;
}

#progressInput {
	-webkit-appearance: none;
	width: 100%;
	height: 15px;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}

#progressInput:hover {
	opacity: 1;
}

#progressInput::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #04aa6d;
	cursor: pointer;
}

#progressInput::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #04aa6d;
	cursor: pointer;
}

.user_section {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: $mgap;
	padding: 0 2em;
}

details {
	width: 100%;
}

details[open] .details_arrow {
	rotate: 180deg;
}

.details_arrow {
	transition: 0.3s;
}

.user_block {
	display: flex;
	width: 100%;
	justify-content: space-between;
	border-radius: borr;
	padding: 2em 3em;
	color: var(--secondaryClr);
	background-color: var(--primaryClrLite);
}

.user_details {
	background-color: var(--primaryClrUltraLite);
	padding: 0.5em 1em;
	color: var(--secondaryClr);
}

.user_details_list {
	display: grid;
	grid-template-columns: repeat(2, auto);
}

.loadMore {
	padding: 0.5em 2em;
	background-color: var(--secondaryClr);
	color: var(--primaryClr);
	border: none;
}
