@use '_nullstyle.scss';

$sgap: 0.5em;
$mgap: 1.5em;
$borr: 5px;
$padding: clamp(1em, 2vw, 4em);

.page_container {
	width: min(100%, 60em);
	padding-inline: 2em;
	margin: 0 auto;
}

.cursor_active {
	cursor: pointer;
}


html.dark-mode {
	--primaryClr: #121212;
	--primaryClrRGB: 18, 18, 18;
	--primaryClrLite: #181717;
	--primaryClrUltraLite: #282b2b;
	--bcgroundClr: #121212;
	--secondaryClr: #fff;
	--radialGradient: radial-gradient(
		circle,
		#121212,
		#131414,
		#333636,
		#131414,
		#121212
	);
}

html.light-mode {
	--primaryClr: #dfedec;
	--primaryClrRGB: 223, 237, 236;
	--primaryClrLite: #dae2e2;
	--primaryClrUltraLite: #fcecec33;
	--bcgroundClr: #a1b5ba;
	--secondaryClr: #121212;
	--radialGradient: radial-gradient(
		circle,
		#a2b5ba,
		#a2b5ba,
		#6c7f8b,
		#a2b5ba,
		#1e1c30
	);
}

html {
	color-scheme: light dark;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	height: 160vh;
	background-color: var(--bcgroundClr);
	background-image: var(--radialGradient);
	background-repeat: no-repeat;
}


header {
	z-index: 100;
	display: flex;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background-color: rgba(var(--primaryClrRGB), 0.5);
	justify-content: flex-end;
	align-items: center;
	padding: $sgap 2em;
	gap: 1.5em;

	/* The switch - the box around the slider */
	.switch {
		font-size: 17px;
		position: relative;
		display: inline-block;
		width: 3.5em;
		height: 2em;
	}

	/* Hide default HTML checkbox */
	.switch input {
		opacity: 0;
		width: 0;
		height: 0;
	}

	/* The slider */
	.slider {
		position: absolute;
		cursor: pointer;
		inset: 0;
		background-color: var(--primaryClrUltraLite);
		transition: 0.5s;
		border-radius: 30px;

		&:focus {
			outline: none;
			border: none
		}

		&:before {
			position: absolute;
			content: '';
			height: 1.4em;
			width: 1.4em;
			border-radius: 50%;
			left: 10%;
			bottom: 15%;
			box-shadow: inset 8px -4px 0px 0px #fff000;
	
			transition: 0.5s;
		}
	}


	input:checked + .slider:before {
		transform: translateX(100%);
		box-shadow: inset 15px -4px 0px 15px #fff000;
	}

	.profile_icon {
		font-size: 2.3em;
		color: var(--secondaryClr);
	}
}

main {
	display: flex;
	flex-direction: column;
	gap: 2em;
	padding-bottom: 3em;
}

.hero {
	text-align: center;
	margin-block: max(10vw, 5em);
	color: var(--secondaryClr);
}

.hero_title {
	font-size: min(20vw, 5em);
}

.hero_subtitle {
	font-size: min(10vw, 4em);
}

.searchBar_block {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: $sgap;
	color: var(--secondaryClr);
}

.searchBar {
	background-color: var(--primaryClr);
	outline: none;
	border: none;
	width: 100%;
	margin: 0 auto;
	border-radius: $borr;
	padding-block: 0.5em;
	padding-left: 2em;
	font-size: 1.3em;

	&::placeholder {
		opacity: .5;
	}
}

.searchbar_wrapper {
	display: flex;
	justify-content: center;
	position: relative;
}

.search_ico {
	position: absolute;
	font-size: 1.3em;
	top: .5em;
	left: .5em;
}

.filterBtn {
	outline: none;
	border: none;
	align-self: flex-end;
	background-color: var(--primaryClrLite);
	border-radius: $borr;
	padding: $sgap;
}

.filter_modal {
	position: absolute;
	left: 105%;
	border: none;
	padding: 1vw 1.5vw;
	color: var(--secondaryClr);
	background-color: hsla(0, 0%, 100%, 0.3);
	width: clamp(150px, 130px + 5vw, 300px);
}

#filterForm {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

@media(max-width: 900px) {
	.filter_modal {
		width: 100%;
		position: relative;
		left: 0;
		margin-top: 1em;
	}

	html {
		font-size: .9em;
	}

	.page_container {
		width: 90%;
	}

	.hero.page_container {
		padding: 0;
	}
}

.modalBtn {
	border-color: transparent;
	padding: 0.5em 1em;
	background-color: var(--primaryClr);
}

#progressInput {
	appearance: none;
	border: none;
	padding: 0;
	width: 100%;
	height: 10px;
	border-radius: 5px;
	background-color: var(--primaryClr);

	&::-webkit-slider-runnable-track {
		background-color: var(--primaryClr);
		border-radius: 5px;
		height: 10px;
	}
	&::-webkit-slider-thumb {
		appearance: none;
		width: 20px;
		height: 20px;
		background-color: var(--secondaryClr);
		border-radius: 50%;
		margin-top: -3px;
	}
	&::-moz-range-track {
		background-color: var(--primaryClr);
		border-radius: 20px;
		height: 10px;
	}
	&::-moz-range-thumb {
		appearance: none;
		width: 10px;
		height: 20px;
		background-color: var(--primaryClr);
		border-radius: 123%;
		margin-top: -5px;
	}
}

.user_section {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: $mgap;
	padding: 0 2em;
}

details {
	width: 100%;
}

details[open] .details_arrow {
	rotate: 180deg;
}

.details_arrow {
	transition: 0.3s;
}

.user_block {
	display: flex;
	width: 100%;
	justify-content: space-between;
	border-radius: borr;
	padding: 2em $padding;
	color: var(--secondaryClr);
	background-color: var(--primaryClrLite);
}

.user_details {
	background-color: var(--primaryClrUltraLite);
	padding: 0.5em 1em;
	color: var(--secondaryClr);
}

.user_details_list {
	display: grid;
	grid-template-columns: repeat(2, auto);
	gap: .5em;
}

.loadMore {
	padding: 0.5em 2em;
	background-color: var(--secondaryClr);
	color: var(--primaryClr);
	border: none;
}
